[Desktop Entry]
Name=DISDAIN
Comment=DISDAIN is a first person dark fantasy action game from Mischief Donut
Icon=com.mischiefdonut.disdain
Categories=Game;Shooter;
Exec=DISDAIN %F
StartupNotify=true
PrefersNonDefaultGPU=true
Terminal=false
Type=Application
Keywords=disdain;first;person;shooter;
MimeType=application/x-doom-wad;application/x-doom-pk7;application/x-doom-pk3;
Actions=launch-safemode;launch-disdain;
StartupWMClass=com.mischiefdonut.disdain

[Desktop Action launch-safemode]
Name=Play DISDAIN (Safe Mode)
Icon=com.mischiefdonut.disdain
Exec=DISDAIN -noautoload -noautoexec %F

[Desktop Action launch-disdain]
Name=Play DISDAIN
Icon=com.mischiefdonut.disdain
Exec=DISDAIN %F
